{% ckan_extends %}

{% block package_metadata_fields %}
  <div class="control-group">
    <label class="control-label" for="field-author_facet">{{ _("Eurovoc") }}</label>
    <div class="controls">
      <select id="field-author_facet" name="{{ h.author_facet_field_name() }}" data-module="autocomplete">
        {% set author_facet_data = data.get(h.author_facet_field_name(), '') %}
        {% for author_facet in h.author_facets()  %}
          <option value="{{ author_facet[0] }}" {% if author_facet[1] == author_facet_data %}selected="selected"{% endif %}>{{ author_facet[1] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {{ super() }}
{% endblock %}
